@font-face {
  font-family: 'Mango New';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MangoNew-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mango New';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/MangoNew-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mango Heritage Headline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MangoHeritageHeadline-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mango Heritage Headline';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MangoHeritageHeadline-RegularItalic.woff2') format('woff2');
}
